<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>todaysOffice</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>

	<key>NSAppleMusicUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCameraUsageDescription</key>
	<string>카메라 접근 권한 줘.</string>
	<key>NSContactsUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSFaceIDUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>YOUR TEXT</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSMotionUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>라이브러리 접근 권한 줘.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>라이브러리 접근 권한 줘.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSSiriUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>YOUR TEXT</string>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
